* {
    box-sizing: border-box;
    font-size: 50px;
}

:root {
    --primary: blue;
    --secondary: white;
}

.card-header {
    background-color: var(--primary);
    color: var(--secondary);
}

.card-body {
    background-color: var(--secondary);
    color: var(--primary);
}

.container {
    margin: 100px auto;
    justify-content: space-around;
    display: flex;
    
}